$padding-horizontal: 250px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal-mobile: 100px;
$red: #E94430;
$dark-grey: #92929d;
$grey: #E94430;
$black: #e3e3ee;
$light-grey: #f6f6f6;
$blue: #282b57;
$dark: #d73b3b;
